{"openapi":"3.0.0","paths":{"/v1/nebula/hello":{"get":{"description":"This operation allows you get a hello message","operationId":"SDKController_hello_v1","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDKResponseDTO"}}}},"400":{"description":"Bad Request."},"500":{"description":"Something went wrong."}},"security":[{"x-api-key":[]}],"summary":"Hello","tags":["SDK"],"x-codeSamples":[{"lang":"JavaScript","source":"import CozmoxSDK from '@cozmox-nebula/typescript-sdk';\n\nconst client = new CozmoxSDK({\n  apiKey: process.env['COZMOX_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.nebula.hello();\n\n  console.log(response.message);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom cozmox_sdk import CozmoxSDK\n\nclient = CozmoxSDK(\n    api_key=os.environ.get(\"COZMOX_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.nebula.hello()\nprint(response.message)"}]}},"/v1/outbound/create-call":{"post":{"description":"This operation allows you create a call","operationId":"OutboundController_createCall_v1","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCallRequestDTO"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCallResponseDTO"}}}},"400":{"description":"Bad Request."},"500":{"description":"Something went wrong."}},"security":[{"x-api-key":[]}],"summary":"Create a call","tags":["Outbound"],"x-codeSamples":[{"lang":"JavaScript","source":"import CozmoxSDK from '@cozmox-nebula/typescript-sdk';\n\nconst client = new CozmoxSDK({\n  apiKey: process.env['COZMOX_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.outbound.createCall({\n    agentId: 'cx_xxxxxx',\n    extras: { Name: 'Liza', current_datetime: '2025-01-01 10:10:10' },\n    fromPhone: '+1234567890',\n    toPhone: '+1234567890',\n  });\n\n  console.log(response.callId);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom cozmox_sdk import CozmoxSDK\n\nclient = CozmoxSDK(\n    api_key=os.environ.get(\"COZMOX_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.outbound.create_call(\n    agent_id=\"cx_xxxxxx\",\n    extras={\n        \"Name\": \"Liza\",\n        \"current_datetime\": \"2025-01-01 10:10:10\",\n    },\n    from_phone=\"+1234567890\",\n    to_phone=\"+1234567890\",\n)\nprint(response.call_id)"}]}},"/v1/outbound/retrieve-call":{"post":{"description":"This operation allows you retrieve a call by id","operationId":"OutboundController_retriveCall_v1","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveCallRequestDTO"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveCallResponseDTO"}}}},"400":{"description":"Bad Request."},"500":{"description":"Something went wrong."}},"security":[{"x-api-key":[]}],"summary":"Retrieve a call","tags":["Outbound"],"x-codeSamples":[{"lang":"JavaScript","source":"import CozmoxSDK from '@cozmox-nebula/typescript-sdk';\n\nconst client = new CozmoxSDK({\n  apiKey: process.env['COZMOX_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.outbound.retrieveCall({ callId: '1234567890' });\n\n  console.log(response.createdAt);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom cozmox_sdk import CozmoxSDK\n\nclient = CozmoxSDK(\n    api_key=os.environ.get(\"COZMOX_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.outbound.retrieve_call(\n    call_id=\"1234567890\",\n)\nprint(response.created_at)"}]}},"/v1/concurrency/retrieve":{"get":{"description":"This operation allows you get the number of concurrent calls for a user","operationId":"ConcurrencyController_retrieveConcurrentCalls_v1","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetriveConcurrentCallResponseDTO"}}}},"400":{"description":"Bad Request."},"500":{"description":"Something went wrong."}},"security":[{"x-api-key":[]}],"summary":"Get the number of current concurrent calls for a user","tags":["Concurrency"],"x-codeSamples":[{"lang":"JavaScript","source":"import CozmoxSDK from '@cozmox-nebula/typescript-sdk';\n\nconst client = new CozmoxSDK({\n  apiKey: process.env['COZMOX_API_KEY'], // This is the default and can be omitted\n});\n\nasync function main() {\n  const response = await client.concurrency.hello();\n\n  console.log(response.consumed_concurrency);\n}\n\nmain();"},{"lang":"Python","source":"import os\nfrom cozmox_sdk import CozmoxSDK\n\nclient = CozmoxSDK(\n    api_key=os.environ.get(\"COZMOX_API_KEY\"),  # This is the default and can be omitted\n)\nresponse = client.concurrency.hello()\nprint(response.consumed_concurrency)"}]}}},"info":{"title":"Cozmox Cloud API","description":"API for Cozmox Cloud","version":"1.0","contact":{}},"tags":[{"name":"cozmox","description":""}],"servers":[{"url":"https://api.cozmox.cloud"}],"components":{"securitySchemes":{"x-api-key":{"type":"apiKey","in":"header","name":"x-api-key","description":"The API key"}},"schemas":{"SDKResponseDTO":{"type":"object","properties":{"message":{"type":"string","description":"The message to be returned","example":"Hello, world!"}},"required":["message"]},"CreateCallRequestDTO":{"type":"object","properties":{"toPhone":{"type":"string","description":"The phone number to call","example":"+1234567890"},"fromPhone":{"type":"string","description":"From phone number","example":"+1234567890"},"agentId":{"type":"string","description":"Agent ID which will communicate with user","example":"cx_xxxxxx"},"extras":{"type":"object","description":"Extra parameters needed for agent on call","example":{"Name":"Liza","current_datetime":"2025-01-01 10:10:10"},"additionalProperties":{"type":"string"}}},"required":["toPhone","fromPhone","agentId","extras"]},"CreateCallResponseDTO":{"type":"object","properties":{"callId":{"type":"string","description":"The call id","example":"1234567890"}},"required":["callId"]},"RetrieveCallRequestDTO":{"type":"object","properties":{"callId":{"type":"string","description":"The call id","example":"1234567890"}},"required":["callId"]},"RetrieveCallResponseDTO":{"type":"object","properties":{"createdAt":{"format":"date-time","type":"string"}},"required":["createdAt"]},"RetriveConcurrentCallResponseDTO":{"type":"object","properties":{"consumed_concurrency":{"type":"number","description":"The amount of concurrency consumed","example":0}},"required":["consumed_concurrency"]},"GenericResponse":{"type":"object","properties":{"statusCode":{"type":"number"},"message":{"type":"string"}},"required":["statusCode","message"]}}},"security":[{"x-api-key":[]}]}