{"openapi":"3.0.0","paths":{"/v1/nebula/hello":{"get":{"description":"This operation allows you get a hello message","operationId":"SDKController_hello_v1","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SDKResponseDTO"}}}},"400":{"description":"Bad Request."},"500":{"description":"Something went wrong."}},"security":[{"x-api-key":[]}],"summary":"Hello","tags":["SDK"]}},"/v1/outbound/create-call":{"post":{"description":"This operation allows you create a call","operationId":"OutboundController_createCall_v1","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCallRequestDTO"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCallResponseDTO"}}}},"400":{"description":"Bad Request."},"500":{"description":"Something went wrong."}},"security":[{"x-api-key":[]}],"summary":"Create a call","tags":["Outbound"]}},"/v1/outbound/retrieve-call":{"post":{"description":"This operation allows you create a call","operationId":"OutboundController_retriveCall_v1","parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveCallRequestDTO"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetrieveCallResponseDTO"}}}},"400":{"description":"Bad Request."},"500":{"description":"Something went wrong."}},"security":[{"x-api-key":[]}],"summary":"Create a call","tags":["Outbound"]}},"/v1/concurrency/retrieve":{"get":{"description":"This operation allows you get a hello message","operationId":"ConcurrencyController_retrieveConcurrentCalls_v1","parameters":[],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RetriveConcurrentCallResponseDTO"}}}},"400":{"description":"Bad Request."},"500":{"description":"Something went wrong."}},"security":[{"x-api-key":[]}],"summary":"Hello","tags":["Concurrency"]}}},"info":{"title":"Cozmox Cloud API","description":"API for Cozmox Cloud","version":"1.0","contact":{}},"tags":[{"name":"cozmox","description":""}],"servers":[{"url":"https://api.cozmox.cloud"}],"components":{"securitySchemes":{"x-api-key":{"type":"apiKey","in":"header","name":"x-api-key","description":"The API key"}},"schemas":{"SDKResponseDTO":{"type":"object","properties":{"message":{"type":"string","description":"The message to be returned","example":"Hello, world!"}},"required":["message"]},"CreateCallRequestDTO":{"type":"object","properties":{"toPhone":{"type":"string","description":"The phone number to call","example":"+1234567890"},"fromPhone":{"type":"string","description":"From phone number","example":"+1234567890"},"agentId":{"type":"string","description":"Agent ID which will communicate with user","example":"cx_xxxxxx"},"extras":{"type":"object","description":"Extra parameters needed for agent on call","example":{"Name":"Liza","current_datetime":"2025-01-01 10:10:10"},"additionalProperties":{"type":"string"}}},"required":["toPhone","fromPhone","agentId","extras"]},"CreateCallResponseDTO":{"type":"object","properties":{"callId":{"type":"string","description":"The call id","example":"1234567890"}},"required":["callId"]},"RetrieveCallRequestDTO":{"type":"object","properties":{"callId":{"type":"string","description":"The call id","example":"1234567890"}},"required":["callId"]},"RetrieveCallResponseDTO":{"type":"object","properties":{"createdAt":{"format":"date-time","type":"string"}},"required":["createdAt"]},"RetriveConcurrentCallResponseDTO":{"type":"object","properties":{"consumed_concurrency":{"type":"number","description":"The amount of concurrency consumed","example":0}},"required":["consumed_concurrency"]},"GenericResponse":{"type":"object","properties":{"statusCode":{"type":"number"},"message":{"type":"string"}},"required":["statusCode","message"]}}},"security":[{"x-api-key":[]}]}